package Model.APPS.GLOBAL_SCU_XMC1.v4_1_6.Templates;

import Model.APPS.GLOBAL_SCU_XMC1.v4_1_6.GLOBAL_SCU_XMC1

out.print("""
/**
 * @cond
 ***********************************************************************************************************************
 *
 * Copyright (c) 2015, Infineon Technologies AG
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without modification,are permitted provided that the
 * following conditions are met:
 *
 *   Redistributions of source code must retain the above copyright notice, this list of conditions and the  following
 *   disclaimer.
 *
 *   Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
 *   following disclaimer in the documentation and/or other materials provided with the distribution.
 *
 *   Neither the name of the copyright holders nor the names of its contributors may be used to endorse or promote
 *   products derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES,
 * INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE  FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY,OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT  OF THE
 * USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * To improve the quality of the software, users are encouraged to share modifications, enhancements or bug fixes
 * with Infineon Technologies AG (dave@infineon.com).
 ***********************************************************************************************************************
 *
 * Change History
 * --------------
 *
 * 2015-02-16:
 *     - Initial version<br>
 *
 * 2015-04-06:
 *     - Optimized generation of config code<br>
 *
 * @endcond
 *
 */
/***********************************************************************************************************************
 * HEADER FILES
 **********************************************************************************************************************/
#include "global_scu_xmc1.h"
""");

String MappedUri = null;
String appInst  = null;


for (Object appIns : appInstancesList )
{
	appInst = appIns.getInstanceLabel()
	
	appIns.hwres_sr0_scunode.getRegValue("","iser_setena")
	appIns.hwres_sr1_scunode.getRegValue("","iser_setena")
	appIns.hwres_sr2_scunode.getRegValue("","iser_setena")
	
	appIns.hwres_sr0_scunode.getRegValue("","intcr_insel")
	appIns.hwres_sr1_scunode.getRegValue("","intcr_insel")
	appIns.hwres_sr2_scunode.getRegValue("","intcr_insel")
out.print("""\n
/**********************************************************************************************************************
* DATA STRUCTURES
**********************************************************************************************************************/

const GLOBAL_SCU_XMC1_CONFIG_t ${appInst}_config  = 
{
  .priority[0] = ${appIns.ginterruptprio_sr0.priorityValue}U,
  .priority[1] = ${appIns.ginterruptprio_sr1.priorityValue}U,
  .priority[2] = ${appIns.ginterruptprio_sr2.priorityValue}U,

  .enable_at_init[0] = ${appIns.gcheck_SR0_EnableIntr.value},
  .enable_at_init[1] = ${appIns.gcheck_SR1_EnableIntr.value},
  .enable_at_init[2] = ${appIns.gcheck_SR2_EnableIntr.value}
};

GLOBAL_SCU_XMC1_t ${appInst} =
{
  .config = (GLOBAL_SCU_XMC1_CONFIG_t*)&${appInst}_config,
  .initialized = false
};""");

} // end of for


